<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
>
	<testsuite name='Nextcloud - Auto Groups App Tests'>
		<directory suffix='.php'>.</directory>
	</testsuite>
	<coverage>
		<include>
			<directory suffix=".php">../lib</directory>
		</include>
		<report>
			<clover outputFile="coverage.xml"/>
		</report>
	</coverage>
</phpunit>
